<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymoves">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Pages.AddSpentPage"
            android:label="@string/title_activity_add_spent_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Pages.CategoryPage"
            android:label="@string/title_activity_category_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.AddExpensePage"
            android:label="@string/title_activity_addexpense"
            android:parentActivityName=".Pages.ExpensesPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.ExpensesPage"
            android:label="@string/title_activity_expenses_page"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.IncomePage"
            android:label="@string/title_activity_income_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.StartController"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>